// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.todo_list {
    border: 1px solid #eee;
    border-radius: 4px;
    margin:1em 0 1em 0;
    padding: 2em;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        clear: both;
    }

    ul li{
        margin-right: 1em;
        float:left;
        padding:0;
    }
}

